html {
    height: 100vh;
    width: 100vw;
    background-image: url(image/try3copie.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
     
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #8affff;
    text-shadow: 
    0 0 4px #8affff,
    0 0 10px #8affff,
    0 0 20px #ff5efb,
    0 0 40px #ff5efb;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

.navbar {
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    z-index: 1000;
}

.neon {
    color: #8affff;
    text-shadow: 
    0 0 4px #8affff,
    0 0 10px #8affff,
    0 0 20px #ff5efb,
    0 0 40px #ff5efb;
    font-family: 'Orbitron', sans-serif;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    color: blueviolet;
    text-shadow: 
    0 0 4px blueviolet,
    0 0 10px blueviolet,
    0 0 20px #ff5efc7c,
    0 0 40px #ff5efc88;
}
.navbar .nav-links ul {
    display: flex; 
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li.active a {
    color: tomato;
    font-weight: 600;
    text-shadow: 
    0 0 4px tomato,
    0 0 10px tomato,
    0 0 20px #ff5efb,
    0 0 40px #ff5efb;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 35px;
}

.mobile-menu {
    margin-left: 0 ;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }
    .navbar .menu-hamburger {
        display: block;
    }

    .navbar .logo {
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.123);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}